.site-header {
    background-color: #FFF;
    padding-bottom: 0.5em;
}

.site-header .site-branding {
    margin-bottom: 1em;
}

.site-header .site-branding a {
    text-align: center;
}

.site-header .site-branding .site-title {
    font-size: 1.9em;
    font-style: italic;
    font-weight: 700;
    padding-bottom: 0;
    margin-bottom: 0;
}

.site-header .site-branding .site-subtitle {
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1em;
    font-style: italic;
}