<footer class="site-footer">
    <div class="wrapper">
        <section class="about-office">
            <header>
                <h5>За кантората</h5>
            </header>

            <ul>
                {% for item in site.pages %}
                    {% if item.title and item.nonav != 1 %}
                        <li>
                            <a href="{{ site.baseurl }}{{ item.url }}">{{ item.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>

        <section class="office-contacts">
            <header>
                <h5>Контакти</h5>
            </header>

            <ul>
                <li>гр.Брезник, ул."Васил Левски" №13</li>
                <li>087 8687724</li>
                <li>miladinov602@gmail.com</li>
            </ul>
        </section>

        <section class="rights-reserved">
            <p>
                Credits to Alex Dimitrov
            </p>

            <ul class="social-links">
                <li>
                    <a href="https://www.facebook.com/profile.php?id=100003040685227" target="_blank" class="facebook"></a>
                </li>
                <li>
                    <a href="https://www.instagram.com/ax.dimitrov/" target="_blank" class="instagram"></a>
                </li>
                <li>
                    <a href="https://github.com/alexdimitrov2000" target="_blank" class="github"></a>
                </li>
            </ul>

            <p>
                All rights reserved &copy; 2019
            </p>
        </section>
    </div>
</footer>