.site-footer {
    background-color: var(--color-footer-bgrd-default);
    color: #FFF;
}

.site-footer section {
    border-bottom: 1px solid var(--color-border-default);
    padding: 1.2em 0;
}

.site-footer section:last-of-type {
    border-bottom: none;
}

.site-footer h5 {
    color: var(--color-footer-headers);
    text-transform: uppercase;
}

.site-footer ul {
    padding: 0;
}

.site-footer ul li {
    list-style: none outside;
}

.site-footer li a {
    color: #FFF;
}

.site-footer li a:hover {
    text-decoration: underline;
}

.site-footer .rights-reserved > p:last-of-type {
    padding-bottom: 0;
}