@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Merriweather:400,400i,700&display=swap&subset=cyrillic");
:root {
  --font-size-default: 12px;
  --font-size-large: 14px;
  --font-size-larger: 16px;
  --font-size-largest: 18px;
  --font-family-default: 'Fira Sans';
  --font-family-headings: 'Merriweather';
  --color-body-text-default: #000;
  --color-body-bgrd-default: rgb(230, 230, 230);
  --color-border-default: rgb(173, 216, 230);
  --color-nav-link-bgrd: rgb(173, 216, 230);
  --color-nav-link-bgrd-hover: rgb(78, 211, 255);
  --color-contacts-info-headers: rgb(78, 211, 255);
  --color-footer-bgrd-default: #565656;
  --color-footer-headers: rgb(78, 211, 255);
  --border-radius-nav-links: 0.4em; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font: var(--font-size-default, 12px)/1.5 var(--font-family-default, sans-serif); }

@media (min-width: 500px) {
  html {
    font-size: var(--font-size-body-large, 14px); } }

@media (min-width: 700px) {
  html {
    font-size: var(--font-size-body-larger, 16px); } }

@media (min-width: 1600px) {
  html {
    font-size: var(--font-size-body-largest, 18px); } }

body, table, form, select, option, input, textarea {
  font: inherit;
  background: var(--color-body-bgrd-default, #FFF);
  color: var(--color-body-text-default, #e6e6e6); }

.site-title,
h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  margin-bottom: 0.4em;
  font-weight: normal;
  font-family: var(--font-family-headings, serif); }

h1 {
  font-size: 2.6em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.0em; }

a {
  text-decoration: none;
  color: #000; }

p, ul, ol {
  padding-bottom: 1.3em; }

ul, ol {
  padding-left: 2.5em; }

ul ul, ol ul, ul ol, ol ol {
  padding-top: 0.5em;
  padding-bottom: 0.5em; }

ol > li > ol > li {
  list-style-type: lower-roman; }

blockquote {
  padding: 1rem; }

blockquote .author {
  font-style: italic;
  text-align: right;
  opacity: 0.5; }

blockquote .author:before {
  display: inline-block;
  content: '\2014';
  padding-right: 0.5em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

.wrapper {
  max-width: 65rem;
  margin: 0 auto;
  padding: 1em 2em; }

h2 {
  text-align: center;
  font-style: italic; }

.site-header {
  background-color: #FFF;
  padding-bottom: 0.5em; }
  .site-header .site-branding {
    margin-bottom: 1em; }
    .site-header .site-branding a {
      display: block;
      text-align: center; }
    .site-header .site-branding .site-title {
      font-size: 2.4em;
      font-style: italic;
      font-weight: 700;
      padding-bottom: 0;
      margin-bottom: 0; }
    .site-header .site-branding .site-subtitle {
      padding-bottom: 0;
      margin-bottom: 0;
      font-weight: 700;
      font-size: 1em;
      font-style: italic; }
  @media (min-width: 925px) {
    .site-header .wrapper {
      display: flex;
      align-items: center;
      padding: 0.5em 2em; }
      .site-header .wrapper .site-branding {
        margin-bottom: 0; } }

.entry-content {
  background: linear-gradient(to bottom, rgba(173, 216, 230, 0.1), rgba(173, 216, 230, 0.7)), url("../images/notary-sign.jpg");
  background-position: center center;
  background-size: cover; }
  .entry-content p {
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.9);
    font-size: 4em;
    text-align: center;
    color: #FFF;
    padding: 1.4em 0.3em;
    font-style: italic;
    letter-spacing: 2px; }
    @media (max-width: 370px) {
      .entry-content p {
        font-size: 3em; } }

.site-main .wrapper header > h2 {
  display: flex;
  align-items: center;
  flex-shrink: 0; }
  .site-main .wrapper header > h2::before, .site-main .wrapper header > h2::after {
    display: block;
    content: '';
    flex-grow: 1;
    height: 2px;
    background-color: var(--color-body-text-default);
    opacity: 0.5; }
  .site-main .wrapper header > h2::before {
    margin-right: 1em; }
  .site-main .wrapper header > h2::after {
    margin-left: 1em; }

.office-info {
  padding: 1em 0; }

.useful-links {
  padding: 1em 0;
  background-color: #FFF; }
  .useful-links ul.links {
    padding: 0; }
  .useful-links .link {
    list-style: none outside;
    margin: 1.3em 0;
    text-align: center; }
    .useful-links .link a {
      display: block; }
      .useful-links .link a::after {
        display: block;
        content: '';
        width: 0;
        height: 0.2em;
        margin: 0 auto;
        background-color: var(--color-border-default); }
      .useful-links .link a:focus::after, .useful-links .link a:hover::after {
        width: 55%; }
    .useful-links .link img {
      max-width: 100%; }
  @media (min-width: 925px) {
    .useful-links .links {
      display: flex;
      flex-wrap: wrap; }
      .useful-links .links li {
        flex: 1 0 30%; }
        .useful-links .links li:not(:last-of-type) {
          margin-right: 0.7em; } }

.working-team .wrapper {
  padding: 2em; }

.working-team .workers {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.5em; }
  .working-team .workers li {
    list-style: none outside;
    background-color: #FFF;
    grid-column-start: span 6;
    border-radius: 0.3em;
    box-shadow: 0 0 0.7em 0 rgba(0, 0, 0, 0.5); }
    .working-team .workers li .media {
      display: block;
      overflow: hidden;
      position: relative; }
      .working-team .workers li .media a,
      .working-team .workers li .media span,
      .working-team .workers li .media img {
        display: block; }
      .working-team .workers li .media::before {
        display: block;
        content: '';
        padding-top: 56.25%; }
      .working-team .workers li .media > a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
        .working-team .workers li .media > a::before {
          display: block;
          content: '';
          background: rgba(0, 0, 0, 0);
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          border-top-left-radius: 0.3em;
          border-top-right-radius: 0.3em; }
        .working-team .workers li .media > a strong {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: #FFF;
          opacity: 0;
          text-align: center; }
        .working-team .workers li .media > a:active, .working-team .workers li .media > a:hover {
          cursor: pointer; }
          .working-team .workers li .media > a:active img, .working-team .workers li .media > a:hover img {
            position: relative;
            z-index: 1; }
          .working-team .workers li .media > a:active::before, .working-team .workers li .media > a:hover::before {
            background: rgba(0, 0, 0, 0.8);
            z-index: 2; }
          .working-team .workers li .media > a:active strong, .working-team .workers li .media > a:hover strong {
            opacity: 1;
            z-index: 3; }
      .working-team .workers li .media img {
        height: auto;
        width: 100%;
        border-top-left-radius: 0.3em;
        border-top-right-radius: 0.3em; }
    .working-team .workers li .member-data {
      display: block;
      padding: 2em 1.5em; }
    .working-team .workers li .member-name {
      display: block;
      font-size: 1.4em; }
    .working-team .workers li .member-position {
      padding-bottom: 0; }
    @media (min-width: 650px) {
      .working-team .workers li.notary {
        grid-column: span 3; }
      .working-team .workers li.deputy, .working-team .workers li.assistant {
        grid-column: span 2; }
        .working-team .workers li.deputy .member-name, .working-team .workers li.assistant .member-name {
          font-size: 1.2em; } }

.contacts .wrapper {
  padding: 2em; }

.contacts-card {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  border-radius: 0.3em;
  overflow: hidden;
  background-color: #FFF;
  box-shadow: 0 0 0.3em 0.1em rgba(0, 0, 0, 0.5); }
  .contacts-card .map {
    flex-grow: 1;
    height: 17em; }
  .contacts-card .contacts-info {
    flex: 1 0 100%;
    padding-left: 1em;
    margin: 1em;
    margin-left: 1.2em;
    border-left: 2px solid var(--color-border-default); }
    .contacts-card .contacts-info h5 {
      color: var(--color-contacts-info-headers); }
  .contacts-card ul {
    padding-left: 0; }
  .contacts-card li {
    list-style: none outside; }
    .contacts-card li::before {
      display: inline-block;
      font-weight: 900;
      width: 1em;
      text-align: center;
      margin-right: 0.4em;
      font-family: 'Font Awesome 5 Free'; }
  .contacts-card .address::before {
    content: '\f3c5'; }
  .contacts-card .phone-number::before {
    content: '\f879'; }
  .contacts-card .email-address::before {
    content: '\f0e0'; }
  .contacts-card .work-time {
    flex: 1 0 100%;
    padding: 1.5em 1em;
    border-top: 1px solid var(--color-border-default); }
    .contacts-card .work-time h5 {
      text-align: center;
      margin-bottom: 0.5em;
      color: var(--color-contacts-info-headers); }
    .contacts-card .work-time ul {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 1em;
      justify-items: center; }
    .contacts-card .work-time li {
      grid-column: span 3; }

@media (min-width: 720px) {
  .contacts .work-time li {
    text-align: center; }
    .contacts .work-time li .day {
      display: block; } }

@media (min-width: 925px) {
  .contacts-main {
    display: flex;
    align-items: center; }
  .contacts-card {
    flex-grow: 1; }
  .contacts .map {
    flex: 0 0 50%;
    height: unset; }
  .contacts .contacts-info {
    flex: 1 0 45%; }
  .contacts .work-time li {
    grid-column: span 2; } }

@media (min-width: 1600px) {
  .contacts .work-time ul {
    grid-template-columns: repeat(7, 1fr); }
    .contacts .work-time ul li {
      grid-column: span 1; } }

.site-footer {
  background-color: var(--color-footer-bgrd-default);
  color: #FFF; }
  .site-footer section {
    border-bottom: 1px solid var(--color-border-default);
    padding: 1.2em 0; }
    .site-footer section:last-of-type {
      border-bottom: none; }
  .site-footer h5 {
    color: var(--color-footer-headers);
    text-transform: uppercase; }
  .site-footer ul {
    padding: 0; }
  .site-footer li {
    list-style: none outside; }
    .site-footer li a {
      color: #FFF; }
      .site-footer li a:hover {
        text-decoration: underline; }
  .site-footer .rights-reserved {
    opacity: 0.7; }
    .site-footer .rights-reserved > p {
      padding-bottom: 0; }
    .site-footer .rights-reserved .social-links {
      display: flex;
      flex-wrap: wrap;
      margin: 0.3em 0; }
      .site-footer .rights-reserved .social-links li {
        list-style: none outside;
        margin-right: 1em; }
        .site-footer .rights-reserved .social-links li:last-of-type {
          margin-right: 0; }
      .site-footer .rights-reserved .social-links a::before {
        display: block;
        font-family: 'Font Awesome 5 Brands';
        font-size: 1.2em; }
      .site-footer .rights-reserved .social-links a:hover {
        text-decoration: none;
        color: var(--color-nav-link-bgrd-hover); }
      .site-footer .rights-reserved .social-links .facebook::before {
        content: '\f082'; }
      .site-footer .rights-reserved .social-links .instagram::before {
        content: '\f16d'; }
      .site-footer .rights-reserved .social-links .github::before {
        content: '\f09b'; }
  @media (min-width: 925px) {
    .site-footer {
      padding-bottom: 1.2em; }
    .site-footer section {
      border: none; }
    .site-footer .wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2em; } }

.site-nav ul {
  padding: 0;
  display: flex;
  justify-content: space-around; }

.site-nav li {
  list-style: none outside;
  text-transform: uppercase; }
  .site-nav li a {
    background-color: var(--color-nav-link-bgrd, lightblue);
    padding: 0.6em 0;
    border-radius: var(--border-radius-nav-links, 0.4em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    font-size: 0.8em; }
    .site-nav li a i.fas {
      color: var(--color-body-text-default, #000);
      font-weight: 900;
      font-size: 1.2em;
      margin-bottom: 0.1em; }
    .site-nav li a:hover, .site-nav li a:focus {
      background-color: var(--color-nav-link-bgrd-hover, #4ed3ff); }
  .site-nav li.selected > a {
    background-color: var(--color-nav-link-bgrd-hover, #4ed3ff); }

@media (min-width: 925px) {
  .site-nav {
    margin-left: auto; }
    .site-nav ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1.5em; }
      .site-nav ul a {
        flex-direction: row;
        padding: 0.8em 1em; }
        .site-nav ul a i {
          margin-right: 0.4em; } }

.site-nav ul li a {
  transition: background-color 0.2s ease-in; }

.useful-links .link a::after {
  transition: width 0.3s ease-in; }

.workers .media > a::before {
  transition: background 0.3s ease-in; }

.workers .media > a strong {
  transition: opacity 0.3s ease-in; }

.site-footer .social-links a {
  transition: color 0.2s ease-in; }

@-webkit-keyframes brandingSlideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-5em); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes brandingSlideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-5em); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes headingSlideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-17em); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@keyframes headingSlideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-17em); }
  to {
    opacity: 1;
    transform: translateX(0); } }

@-webkit-keyframes navFallToBottom {
  from {
    opacity: 0;
    transform: translateY(-3em); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes navFallToBottom {
  from {
    opacity: 0;
    transform: translateY(-3em); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes entryParFallToBottom {
  from {
    opacity: 0;
    transform: translateY(-7em); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes entryParFallToBottom {
  from {
    opacity: 0;
    transform: translateY(-7em); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes mainFallToTop {
  from {
    opacity: 0;
    transform: translateY(10em); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@keyframes mainFallToTop {
  from {
    opacity: 0;
    transform: translateY(10em); }
  to {
    opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes fallSlideIn {
  from {
    opacity: 0;
    transform: translate(-3em, -3em); }
  to {
    opacity: 1;
    transform: translate(0); } }

@keyframes fallSlideIn {
  from {
    opacity: 0;
    transform: translate(-3em, -3em); }
  to {
    opacity: 1;
    transform: translate(0); } }

.page-home .site-header .site-branding,
.page-home .site-footer {
  opacity: 0;
  -webkit-animation: brandingSlideInFromLeft 0.4s ease-in;
          animation: brandingSlideInFromLeft 0.4s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.page-home .site-header .site-nav li {
  opacity: 0;
  -webkit-animation: navFallToBottom 0.4s ease-in;
          animation: navFallToBottom 0.4s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
  .page-home .site-header .site-nav li:nth-child(1) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s; }
  .page-home .site-header .site-nav li:nth-child(2) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  .page-home .site-header .site-nav li:nth-child(3) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s; }

.page-home .site-main {
  opacity: 0;
  -webkit-animation: mainFallToTop 0.6s ease-in;
          animation: mainFallToTop 0.6s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s; }
  .page-home .site-main .entry-content p {
    opacity: 0;
    -webkit-animation: entryParFallToBottom 0.6s ease-in;
            animation: entryParFallToBottom 0.6s ease-in;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s; }

.working-team .page-title {
  opacity: 0;
  -webkit-animation: headingSlideInFromLeft 0.4s ease-in;
          animation: headingSlideInFromLeft 0.4s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.working-team .workers li {
  opacity: 0;
  -webkit-animation: fallSlideIn 0.4s ease-in;
          animation: fallSlideIn 0.4s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
  .working-team .workers li:nth-child(1) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s; }
  .working-team .workers li:nth-child(2) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s; }
  .working-team .workers li:nth-child(3) {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s; }
  .working-team .workers li:nth-child(4) {
    -webkit-animation-delay: 1.1s;
            animation-delay: 1.1s; }
  .working-team .workers li:nth-child(5) {
    -webkit-animation-delay: 1.3s;
            animation-delay: 1.3s; }

.contacts .page-title {
  opacity: 0;
  -webkit-animation: headingSlideInFromLeft 0.4s ease-in;
          animation: headingSlideInFromLeft 0.4s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

.contacts-main {
  opacity: 0;
  -webkit-animation: fallSlideIn 0.5s ease-in;
          animation: fallSlideIn 0.5s ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; }
