.site-nav ul li a {
    transition: background-color 0.2s ease-in;
}

.useful-links .link a::after {
    transition: width 0.3s ease-in;
}

.site-header .site-branding,
.site-footer {
    opacity: 0;
    transform: translateX(-5em);

    transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}

body.loaded .site-header .site-branding,
body.loaded .site-footer {
    opacity: 1;
    transform: translateX(0);
}

.site-header .site-nav li {
    opacity: 0;
    transform: translateY(-3em);

    transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}

.site-header .site-nav li:nth-child(1) { transition-delay: 0.4s; }
.site-header .site-nav li:nth-child(2) { transition-delay: 0.5s; }
.site-header .site-nav li:nth-child(3) { transition-delay: 0.6s; }

body.loaded .site-header .site-nav li {
    opacity: 1;
    transform: translateY(0);
}

.site-main {
    opacity: 0;
    transform: translateY(10em);

    transition: opacity 0.6s ease-in, transform 0.6s ease-in;
    transition-delay: 0.9s;
}

body.loaded .site-main {
    opacity: 1;
    transform: translateY(0);
}

.site-main .entry-content p {
    opacity: 0;
    transform: translateY(-9em);

    transition: opacity 0.6s ease-in, transform 0.6s ease-in;
    transition-delay: 0.9s;
}

body.loaded .entry-content p {
    opacity: 1;
    transform: translateY(0);
}