.site-nav {
    ul {
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    li {
        list-style: none outside;
        text-transform: uppercase;
        
        a {
            background-color: var(--color-nav-link-bgrd, rgb(173, 216, 230));
            padding: 0.6em 0;
            border-radius: var(--border-radius-nav-links, 0.4em);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 80px;
            font-size: 0.8em;
            
            i.fas {
                color: var(--color-body-text-default, #000);
                font-weight: 900;
                font-size: 1.2em;
                margin-bottom: 0.1em;
            }
            
            &:hover,
            &:focus {
                background-color: var(--color-nav-link-bgrd-hover, rgb(78, 211, 255));
            }
        }

        &.selected > a {
            background-color: var(--color-nav-link-bgrd-hover, rgb(78, 211, 255));
        }
    }

    @include bp( small-desktop ) {
        margin-left: auto;

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 1.5em;

            a {
                flex-direction: row;
                padding: 0.8em 1em;

                i {
                    margin-right: 0.4em;
                }
            }
        }
    }
}