.entry-content {
    background: linear-gradient(to bottom, rgba(173, 216, 230, 0.1), rgba(173, 216, 230, 0.7)), url('../images/notary-sign.jpg');
    background-position: center center;
    background-size: cover;
    
    p {
        text-shadow: 2px 2px 7px rgba(0,0,0,0.9);
        font-size: 4em;
        text-align: center;
        color: #FFF;
        padding: 1.4em 0.3em;
        font-style: italic;
        letter-spacing: 2px;
    }
}

.site-main .wrapper {
    & > h2 {
       display: flex;
       align-items: center;
       flex-shrink: 0;
       
       &::before,
       &::after {
           display: block;
           content: '';
           flex-grow: 1;
           height: 2px;
           background-color: var(--color-body-text-default);
           opacity: 0.5;
       }
       
       &::before {
           margin-right: 1em;
       }
       
       &::after {
           margin-left: 1em;
       }
   }

}

.office-info {
    padding: 1em 0;
}

.useful-links {
    padding: 1em 0;
    background-color: #FFF;
    
    ul.links {
        padding: 0;
    }
    
    .link {
        list-style: none outside;
        margin: 1.3em 0;
        text-align: center;
        
        a {
            display: block;
            
            &::after {
                display: block;
                content: '';
                width: 0;
                height: 0.2em;
                margin: 0 auto;
                background-color: var(--color-border-default);
            }
            
            &:hover::after {
                width: 55%;
            }
        }
        
        img {
            max-width: 100%;
        }
    }
}

.working-team {
    .wrapper { padding: 2em; }

    .workers { 
        padding: 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1.5em;

        li {
            list-style: none outside;
            background-color: #FFF;
            grid-column-start: span 6;
            border-radius: 0.3em;
            box-shadow: 0 0 0.7em 0 rgba(0,0,0,0.5);

            .media {
                overflow: hidden;
                position: relative;

                a,
                span,
                img {
                    display: block;
                }
                
                &::before {
                    display: block;
                    content: '';
                    padding-top: 56.25%;
                }

                & > a {
                    position: absolute;
                    top: 0; left: 0; right: 0; bottom: 0;
                    
                    &::before {
                        display: block;
                        content: '';
                        background: rgba(0,0,0,0.0);
                        position: absolute;
                        top: 0; right: 0; bottom: 0; left: 0;
                        border-top-left-radius: 0.3em;
                        border-top-right-radius: 0.3em;
                    }

                    strong {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        color: #FFF;
                        opacity: 0;
                        text-align: center;
                    }

                    &:active,
                    &:hover {
                        cursor: pointer;
                        img {
                            position: relative;
                            z-index: 1;
                        }

                        &::before {
                            background: rgba(0,0,0,0.8);
                            z-index: 2;
                        }

                        strong {
                            opacity: 1;
                            // transform: scale(1, 1);
                            z-index: 3;
                        }
                    }


                }

                img {
                    height: auto;
                    width: 100%;

                    border-top-left-radius: 0.3em;
                    border-top-right-radius: 0.3em;
                }
            }

            .member-data {
                padding: 2em 1.5em;

                .position {
                    padding-bottom: 0;
                }
            }
        }
    }
}