.site-header {
    background-color: #FFF;
    padding-bottom: 0.5em;
    
    .site-branding {
        margin-bottom: 1em;
        
        a {
            display: block;
            text-align: center;
        }
        
        .site-title {
            font-size: 2.4em;
            font-style: italic;
            font-weight: 700;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        
        .site-subtitle {
            padding-bottom: 0;
            margin-bottom: 0;
            font-weight: 700;
            font-size: 1em;
            font-style: italic;
        }
    }

    @include bp ( small-desktop ) {
        .wrapper {
            display: flex;
            align-items: center;
            padding: 0.5em 2em;

            .site-branding {
                margin-bottom: 0;
            }
        }
    }
}