.site-nav ul li a {
    transition: background-color 0.2s ease-in;
}

.useful-links .link a::after {
    transition: width 0.3s ease-in;
}

.workers {
    .media > a {
        $hoverEffectTransitionTime: 0.3s;

        &::before {
            transition: background $hoverEffectTransitionTime ease-in;
        }

        strong {
            transition: opacity $hoverEffectTransitionTime ease-in;
        }
    }

    .member-info {
        .toggle-button::after {
            transition: transform 0.2s ease-in;
        }
    }
}

.contacts .work-time li {
    transition: transform 0.2s ease-in;
}

.site-footer .social-links a {
    transition: color 0.2s ease-in;
}