.site-nav ul li a {
    transition: background-color 0.2s ease-in;
}

.useful-links .link a::after {
    transition: width 0.3s ease-in;
}

.workers .media > a {
    &::before {
        transition: background 0.3s ease-in;
    }

    strong {
        transition: opacity 0.3s ease-in;
    }
}

.site-footer .social-links a {
    transition: color 0.2s ease-in;
}