:root {
    --font-size-default: 12px;
    --font-size-large: 14px;
    --font-size-larger: 16px;
    --font-size-largest: 18px;

    --font-family-default: 'Fira Sans';
    --font-family-headings: 'Merriweather';

    --color-body-text-default: #000;
    --color-body-bgrd-default: rgb(230, 230, 230);

    --color-border-default: rgb(173, 216, 230);

    --color-nav-link-bgrd: rgb(173, 216, 230);
    --color-nav-link-bgrd-hover: rgb(78, 211, 255);

    --color-footer-bgrd-default: #565656;
    --color-footer-headers: rgb(78, 211, 255);

    --border-radius-nav-links: 0.4em;
}